.comments-show {
  width: 58%;
  float: right;
  clear: right;
  top: -200px;
  background: white;
  margin: 0 4% 20px;
  padding: 20px;
  -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
      box-shadow: 0 10px 6px -6px black;
}

.comment-header > h1 {
  font-size: 35px;
  display: inline;
}

.comment-header > a {
  display: inline;
  float: right;
  width: 11%;
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
}

.new-comment-form {
  margin: 10px 0;
}

.new-comment-content {
  width: 60%;
  height: 60px;
  padding: 5px;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 5px;
}

.new-comment-item-and-submit {
  float: right;
  width: 35%;
}

.new-comment-item {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  background: url(/assets/select-arrow.png) no-repeat 96% 0;
  height: 29px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  border-radius: 5px;
}

.new-comment-item-and-submit > input[type="submit"] {
  display: inline;
    float: right;
    width: 26%;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    text-shadow: 1px 1px 2px black;
    border: none;
}

.comment {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.comment-title {
  font-size: 25px;
}

.comment-item-content {
  margin-top: 5px;
  font-size: 20px;
}

.comment-edit{
  display: block;
  height: 35px;
}

.comment-edit > a {
  display: inline;
  width: 80px;
  height: 30px;
  margin: 5px 2%;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  background-color: #2196F3;
  float: right;
  padding: 5px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.comment-edit > a:hover {
  cursor: pointer;
  background-color: #0D47A1;
}

.comment-item-delete {
  height: 40px;
  margin: 5px 0;
  float: right;
  cursor: pointer;
}
