.comments-show, .comments-show-mobile {
  top: -200px;
  background: white;
  margin: 0 2% 20px;
  padding: 20px;
  -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
      box-shadow: 0 10px 6px -6px black;
}

.comments-show-mobile {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-show {
  width: 64%;
  float: right;
  clear: right;

}

.comment-header > h1 {
  font-size: 35px;
  display: inline;
}

.comments-header-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-header-mobile > h1 {
  font-size: 60px;
}

.comment-header > a {
  display: inline;
  float: right;
  width: 11%;
  height: 30px;
  line-height: 30px;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
}

.comments-header-mobile > a {
  width: 50%;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 20px;
  height: 70px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-comment-form {
  margin: 10px 0;
}

.new-comment-form-mobile, .new-comment-item-and-submit-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-comment-content, .new-comment-content-mobile {
  width: 60%;
  height: 60px;
  padding: 5px;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 5px;
}

.new-comment-content-mobile {
  width: 70%;
  height: 120px;
  font-size: 50px;
}

.new-comment-item-and-submit {
  float: right;
  width: 35%;
}

.new-comment-item, .new-comment-item-mobile {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  background-color: white;
  height: 29px;
  border-radius: 5px;
}

.new-comment-item-mobile {
  width: 71%;
  height: 50px;
  background-color: white;
  font-size: 30px;
  margin: 20px 0 0 0;
}

.new-comment-item-and-submit > input[type="submit"] {
  display: inline;
  float: right;
  width: 26%;
  height: 25px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
}

.new-comment-item-and-submit-mobile > input[type="submit"] {
  width: 70%;
  height: 70px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.comment, .comment-mobile {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.comment-index-mobile {
  width: 100%
}

.comment-mobile {
  width: 100%;
}

.comment-title {
  font-size: 25px;
}

.comment-item-content-mobile {
  margin-top: 10px;
  font-size: 30px;
}

.comment-item-content {
  margin-top: 5px;
  font-size: 20px;
}

.comment-edit{
  display: block;
  height: 35px;
}

.comment-edit-mobile {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.comment-edit > a {
  display: inline;
  width: 80px;
  height: 30px;
  margin: 5px 0 5px 2%;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  background-color: #2196F3;
  float: right;
  padding: 5px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.comment-edit-mobile > a {
  width: 30%;
  height: 65px;
  margin: 5px 2% 5px 0;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  background-color: #2196F3;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 40px;
}

.comment-edit > a:hover {
  cursor: pointer;
  background-color: #0D47A1;
}

.comment-item-delete {
  height: 40px;
  margin: 5px 0;
  float: right;
  cursor: pointer;
}

.comment-delete-mobile {
  height: 70px;
}
