.list-index {
height: 100%;
  background: #0D47A1;
  width: 25%;
  padding: 20px;
  display: inline-block;
  position: absolute;
}

.list-index > h1 {
  color: white;
  font-size: 30px;
}

.new-list {
  margin: 20px 0 10px;
}

.new-list > h2 {
  display: inline;
  color: white;
  font-size: 25px;
}

.new-list > a {
  display: inline;
  float: right;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.list-delete {
  display: inline;
  float: right;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  margin: 10px 0;
}

.list-delete-mobile {
  float: right;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 12px;
  font-size: 30px;
  width: 12%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-list > a:hover {
  background-color: #1565C0;
  cursor: pointer;
}

.list-index-item, .list-index-item-mobile {
  background: white;
  height: 60px;
  margin: 10px 0;
  line-height: 60px;
  vertical-align: middle;
  padding: 0 10px;
  -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
      box-shadow: 0 10px 6px -6px black;
}

.list-index-item:hover {
  -webkit-box-shadow: 0 0 20px #BBDEFB;
   -moz-box-shadow: 0 0 20px #BBDEFB;
        box-shadow: 0 0 20px #BBDEFB;
}

.list-index-item > h2 {
  font-size: 30px;
  margin: 15px 0;
  max-width: 79%;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 30px;
}

.list-index-item > img {
  height: 40px;
  margin: 10px 0;
  float: right;
  display: inline;
}

.new-list-form {
  margin-top: 15px;
}

.new-list-form > input[type="text"] {
  width: 65%;
  display: inline;
  height: 23px;
}

.new-list-form > input[type="submit"] {
  display: inline;
  float: right;
  width: 20%;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  height: 27px;
}

.list-index-mobile {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-index-mobile > h1 {
  color: white;
  font-size: 75px;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 15px;
}

.list-index-mobile > ul {
  width: 100%;
}

.new-list-mobile {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.new-list-mobile > h2 {
  font-size: 50px;
  margin-bottom: 15px
}

.new-list-mobile > a {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 90px;
  font-size: 50px;
}

.list-form-mobile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-form-mobile > input[type="text"] {
  height: 90px;
  width: 100%;
  font-size: 60px;
}

.list-form-mobile > input[type="submit"] {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 15px 0;
  height: 90px;
  width: 96%;
  font-size: 50px;
}

.list-index-item-mobile {
  height: 100px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.list-index-item-mobile > h2 {
  font-size: 90px;
  max-width: 85%;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  line-height: 90px;
}

.list-index-item-mobile > img {
  height: 90px;
}
