.list-show-page {
  height: 100%;
  overflow: auto;
  position: relative;
}

.desktop-size {
  height: 100%;
  overflow: auto;
}

.list-show, .list-show-mobile {
  background: white;
  margin: 20px 2%;
  padding: 20px;
  -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
      box-shadow: 0 10px 6px -6px black;
}

.list-show-mobile {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-show {
  width: 64%;
  float: right;
}

.list-details {
  line-height: 30px;
  vertical-align: middle;
  height: 30px;
  padding: 0;
}

.list-details-mobile {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.list-details > h1 {
  font-size: 35px;
  display: inline;
}

.list-details-mobile > h1 {
  font-size: 60px;
}

.edit-email {
  display: inline;
}

.edit-email-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edit-button,
.email-button,
.edit-button-mobile,
.email-button-mobile,
.list-form-update-mobile,
.new-item-form-submit-mobile {
  display: inline;
  float: left;
  width: 50px;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.email-button:hover {
  cursor: pointer;
  background-color: #0D47A1;
}

.edit-button-mobile, .email-button-mobile, .list-form-update-mobile {
  display: inline;
  float: none;
  width: 45%;
  margin: 20px;
  height: 70px;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-button {
  width: 55px;
}

.list-details > a:hover {
  cursor: pointer;
}

.search-users {
  display: inline;
  float: right;
}

.search-users-mobile {
  width: 94%;
}

.new-item-form-mobile {
  width: 50%;
  margin-bottom: 30px;
}

.search-users-mobile > ul {
  position: absolute;
  width: 46%;
}

.add-user-field,
.add-user-field-mobile,
.update-list-name-mobile,
.new-item-name-mobile,
.new-item-quantity-mobile  {
  display: inline;
  width: 200px;
  padding: 3px;
  border-radius: 5px;
}

.add-user-field-mobile,
.update-list-name-mobile,
.new-item-name-mobile,
.new-item-quantity-mobile,
.new-item-form-submit-mobile {
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin-top: 20px;
}

.update-list-name {
  width: 200px;
  padding: 4px;
  border-radius: 5px;
}

.list-show > a {
  display: block;
  width: 100px;
  height: 30px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  line-height: 30px;
  vertical-align: center;
}

.list-form-submit,
.list-form-update,
.user-add-button,
.new-item-form-submit {
  display: inline;
  float: right;
  width: 50px;
  height: 25px;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #2196F3;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
}

.new-item-form-submit {
  width: 9%
}

.new-item-form-submit:hover,
.user-add-button:hover,
.new-item-user:hover,
.list-form-update:hover,
.item-purchased:hover {
  cursor: pointer;
}

.list-form-update {
  float: left;
  margin: 0 10px 0 0;
  width: 60px;
}

.search-users > ul {
  position: absolute;
  width: 210px;
}

.search-result-item, .search-result-item-mobile {
  background: #2196F3;
  padding: 5px 5px 5px 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border-bottom: 1px solid black;
}

.search-result-item-mobile {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.search-result-item > p {
  display: inline;
}

.search-result-item-mobile > p {
  font-size: 40px;
}

.user-add-button, .user-add-button-mobile {
  background-color: #90CAF9;
  height: 30px;
}

.user-add-button-mobile{
  height: 40px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.user-add-button:hover {
  background-color: #0D47A1;
}

.new-item-form {
  margin: 20px 0;
}

.new-item-form > input[type="text"]{
  display: inline;
  padding: 3px 5px;
  border-radius: 5px;
  height: 21px;
  border: 1px solid rgb(166, 166, 166);
}

.new-item-form > input[type="text"]:focus {
  outline: none;
}

.new-item-name {
  width: 35%;
}

.new-item-quantity {
  width: 9%;
}

.new-item-user, .new-item-user-mobile {
  background-color: white;
  font-size: 14px;
  padding: 5px;
  height: 29px;
  width: 35%;
  border-radius: 5px;
  margin: 0 10px;
}

.new-item-user-mobile {
  width: 100%;
  height: 50px;
  font-size: 30px;
  margin: 20px 0 0 0;
}

.new-item-user:focus,
.update-list-name:focus,
.add-user-field:focus,
.new-list-name:focus,
.item-purchased:focus,
.item-not-purchased:focus {
    outline: none;
}

.list-item {
  border-top: 1px solid #ccc;
  height: 50px;
  padding: 10px;
}

.list-item-form {
  padding: 1px;
  border-top: 1px solid #ccc;
}

.list-item-index-mobile {
  width: 100%;
}

.list-item-details > button {
  display: inline;
  width: 90px;
  height: 30px;
  float: left;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

.list-item > button {
  display: inline;
  width: 90px;
  height: 30px;
  float: left;
  margin: 5px 0;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

.list-item-mobile {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.list-item-details-mobile {
  display: flex;
  align-items: center;
}

.list-item-details-mobile > button {
  width: 30%;
  font-size: 40px;
  height: 65px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  font-family: "Courier New", Courier, monospace;
}

.item-not-purchased {
  background-color: #2196F3;
}

.item-not-purchased:hover, .item-purchased:hover {
  background-color: #1565C0;
  cursor: pointer;
}

.item-purchased {
  font-size: 15px;
  background-color: #0D47A1;
}

.list-item-quantity{
  float: left;
  display: inline;
  margin: -9px 2%;
  font-size: 60px;
}

.list-item-quantity-mobile {
  margin: 0 20px;
  font-size: 70px;
}

.list-item-title,
.list-item-title-assigned,
.list-item-title-mobile,
.list-item-title-assigned-mobile {
  max-width: 45%;
  float: left;
  display: inline;
  margin: 0 2% 0 0;
  font-size: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-title-mobile,
.list-item-title-assigned-mobile  {
  max-width: 59%;
  font-size: 50px;
}

.list-item-title-assigned-mobile {
  max-width: 36%;
}

.list-item-title-assigned {
  max-width: 40%;
}

.list-item-delete {
  height: 40px;
  margin: 5px 0;
  float: right;
  cursor: pointer;
}

.list-item-delete-mobile {
  height: 70px;
}

.list-item-buttons > a {
  display: inline;
  width: 9%;
  height: 30px;
  margin: 5px 0 5px 2%;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  background-color: #2196F3;
  float: right;
  padding: 5px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.list-item-buttons > a:hover {
  cursor: pointer;
  background-color: #0D47A1;
}

.list-item-edit-mobile {
  width: 30%;
  height: 65px;
  margin: 5px 0;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 2px black;
  border: none;
  background-color: #2196F3;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 40px;
}

.list-item > a:hover {
  cursor: pointer;
  background-color: #0D47A1;
}

.list-item-association-info {
  display: inline;
  float: right;
  height: 40px;
  margin: 4px 1%;
  text-align: right;
  font-size: 18px;
}

.list-item-association-info > a:hover {
  color: #1565C0;
  font-size: 19px;
}

.list-item-buttons-mobile {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.list-item-association-mobile {
  margin-right: auto;
}

.list-item-association-mobile > p {
  font-size: 35px;
}
